$colorNavegadorYFooter: #7e59;
$colorNavegadorLetra:#000000;
$colorActivo:#17036e;
$colorFondo: #000000;
$colorListas: #f5f5f5;
$colorTitulo:#f5f5f5;
$colorDescripcion:#f5f5f5; 
$colorContacto: #ffffff;
$colorOtrosTitulos: #f7f7f7;
$colorBotones:#000000;
$colorFondoBotones: #808080;
$colorRedireccion: #cfcfcf;
$colorFooterTexto: #000000;
$colorLinks: #807b7a;


// Medidas



@mixin flex($dir, $justify, $aling) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $aling;
}

@mixin Tamanio($ancho, $alto) {
    width: $ancho;
    height: $alto;
}      
