label{
    color: $colorContacto;
}
.edadColor{
    color: $colorContacto;
}
.formTamanio{
    margin-top: 5%;
    @include Tamanio(40%,28.125rem);
}
.buttonForm{
    margin-top: 1.7rem;
    height: 3.125;
    width: 6.25;
    font-size: 1.2rem;
    color: $colorBotones;
    background-color: $colorFondoBotones;
    border: $colorFondoBotones;
}


@media only screen and (max-width:600px){
    form{
        p{
            font-size: 0.825rem;
        }
        label{
            font-size: 0.825rem;
        }
    }
    .buttonForm{
        margin-top: 1.7rem;
        height: 2.125;
        width: 3.25;
        font-size: 0.825rem;
    }

}

@media only screen and (min-width:600px){
    form{
        p{
            font-size: 0.9rem;
        }
        label{
            font-size: 0.9rem;
        }
    }
    .buttonForm{
        margin-top: 1.7rem;
        height: 1.125;
        width: 2.25;
        font-size: 0.9rem;
    }
}

@media only screen and (min-width:992px){
    form{
        p{
            font-size: 1rem;
        }
        label{
            font-size: 1rem;
        }
    }
    .buttonForm{
        margin-top: 1.7rem;
        height: 3.125;
        width: 6.25;
        font-size: 1.2rem;
    }

}