.albums{

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 28.75rem 28.75rem 28.75rem;
    grid-column-gap: 2.5rem;
    grid-row-gap: 3.125rem;
}
h1{
    color: $colorDiscografia;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 5%;
}
@media only screen and (max-width:600px){

    .albums{
        width: 70%;
        img{
            @include Tamanio( 100%, 40%)
        }
    }
}

@media only screen and (min-width:600px){

    .albums{
        width: 90%;
        img{
            @include Tamanio( 100%, 60%)
        }
    }
}

@media only screen and (min-width:992px) {

    .albums{
        width: 95%;
        img{
            @include Tamanio( 100%,100%)
        }
    }
}
