.tourList{
    margin-top: 6%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    height: 15.625rem;
    li{
        display: inline-block;
        margin: 1.25rem;
        .buttonColor{
            color: $colorBotones;
        }
    } 
}


.redireccionVideos{
    color: $colorRedireccion;
    margin-left: 10%;
    margin-top: 15%;
}
.redireccionBoton{
    button{
        margin-left: 10%;
        color: $colorBotones;
    }
}
